<!DOCTYPE html>
<html>
<head>
{% block header %}
    {{ include('admin/common/admin.header.html.twig') }}
{% endblock %}
</head>
<body>
{% block body %}{% endblock %}
{% block footer %}
    {{ include('admin/common/admin.footer.html.twig') }}
{% endblock %}
</body>
</html>

