<ul class="col-xs-6 pull-right text-right kaup-select">
    <li id="kaup-hidden">
        <p class="display-block"><a class="haup-link">Equipment mieten / hey! rentme</a></p>
        {% for cat in categories %}
            <p>
                <a href="{{ path('catchall', { 'content': cat.Slug }) }}#categories"><img src="{{ cat.imageUrl }}" alt=""/></a>
                <a href="{{ path('catchall', { 'content': cat.Slug }) }}#categories">{{ cat.Name }}</a>
            </p>
        {% endfor %}
    </li>
</ul>
