<?php include('header.php'); ?>
    {% include('provider/user_nav.html.twig') %}
    <section class="users container background-light-grey">
      <div class="row">
          <!-- Left side -->
          <div class="col-md-9">
              <img src="/rentme/img/logo-small.svg" alt=""/>            <ul class="steps">
                  <li class="step-1 active-step"><span class="counters"><span class="n-one"></span>Tarif</span></li>
                  <li class="step-2 active-step"><span class="counters"><span class="n-two"></span>Beschreibung</span>
                  </li>
                  <li class="step-3"><span class="counters text-bold"><span class="n-three"></span>Details</span></li>
                  <li class="step-4"><span class="counters greyed"><span class="nh-four"></span>Fertig</span></li>
              </ul>
          </div>

          <!-- Right side -->
          <div class="col-md-3 margin-rwd">
            <div class="support">
              <p class="head">Anbieter Support</p>
              <p class="mail"><a href="mail:support@hey-tsc.com">support@hey-tsc.com</a></p>
            </div>
          </div>
      </div>
      <div class="row user-forms">
          <div class="col-md-8">
              <div class="row">
                  <div class="col-xs-12 border-bottom-white form-head">
                      <div class="form-container form-input-border">
                          <div class="row">
                              <div class="col-sm-12">
                                  <span class="number-three number-rwd"></span>
                                  <p class="form-heading">Details!</p>
                                  <a href="" class="pull-right margin-top-15 open-sans">Überspringen >></a>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-xs-12 border-bottom-white form-head describe">
                      <div class="form-container">
                          <div class="row">
                              <div class="col-sm-12">
                                  <p>Welchen Typ Fahrrad bietest du an?</p>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-xs-12">
                      <div class="form-container form-input-border">
                          <div class="row">
                              <div class="col-xs-4">
                                <div class="chbox-holder">
                                    <input type="checkbox" id="citybike"><label for="citybike"><span></span>Citybike</label>
                                </div>
                              </div>
                              <div class="col-xs-4">
                                <div class="chbox-holder">
                                    <input type="checkbox" id="mountainbike"><label for="mountainbike"><span></span>Mountainbike</label>
                                </div>
                              </div>
                              <div class="col-xs-4">
                                <div class="chbox-holder">
                                    <input type="checkbox" id="rennrad"><label for="rennrad"><span></span>Rennrad</label>
                                </div>
                              </div>
                              <div class="col-xs-12">
                                <div class="chbox-holder">
                                    <input type="checkbox" id="c2hx"><label for="c2hx"><span></span><input type="text" placeholder="Sonstiges" /></label>
                                </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-xs-12 border-bottom-white form-head describe">
                      <div class="form-container">
                          <div class="row">
                              <div class="col-sm-12">
                                  <p>Damen-, Kinder- oder Herrenrad?</p>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-xs-12">
                      <div class="form-container form-input-border">
                          <div class="row">
                              <div class="col-xs-4">
                                <div class="chbox-holder">
                                    <input type="checkbox" id="Damenrad"><label for="Damenrad"><span></span>Damenrad</label>
                                </div>
                              </div>
                              <div class="col-xs-4">
                                <div class="chbox-holder">
                                    <input type="checkbox" id="Herrenrad"><label for="Herrenrad"><span></span>Herrenrad</label>
                                </div>
                              </div>
                              <div class="col-xs-4">
                                <div class="chbox-holder">
                                    <input type="checkbox" id="Kinderrad"><label for="Kinderrad"><span></span>Kinderrad</label>
                                </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-xs-12 border-bottom-white form-head describe">
                      <div class="form-container">
                          <div class="row">
                              <div class="col-sm-12">
                                  <p>Wann wäre dir eine Abholung/Treffen generell am liebsten?</p>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-xs-12">
                      <div class="form-container form-input-border">
                          <div class="row">
                              <div class="col-xs-4">
                                <div class="chbox-holder">
                                    <input type="checkbox" id="Vormittags"><label for="Vormittags"><span></span>Vormittags</label>
                                </div>
                              </div>
                              <div class="col-xs-4">
                                <div class="chbox-holder">
                                    <input type="checkbox" id="Nachmittags"><label for="Nachmittags"><span></span>Nachmittags</label>
                                </div>
                              </div>
                              <div class="col-xs-4">
                                <div class="chbox-holder">
                                    <input type="checkbox" id="Wochenende"><label for="Wochenende"><span></span>Wochenende</label>
                                </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-xs-12 border-bottom-white form-head describe">
                      <div class="form-container">
                          <div class="row">
                              <div class="col-sm-12">
                                  <p>Tel.-Nr. für Rückfragen:</p>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-xs-12">
                      <div class="form-container form-input-border">
                          <div class="row">
                            <div class="phone-inputs">
                              <span>+43</span><input type="number" maxlength="3" min="0" placeholder="000" />
                              <input type="number" maxlength="7" min="0" placeholder="1234567" />
                            </div>
                          </div>
                      </div>
                  </div>
                  <input type="submit" class="green-big-button green-button" value="Einstellungen speichern und fertig">
              </div>
          </div>
      </div>
  </section>
  </div>
  <?php include("page_footer.php"); ?>
<?php include('footer.php'); ?>
