{% extends 'admin/admin.base.html.twig' %}
{% block body %}
<h1>Category edit</h1>

<div class="row">
    <div class="col-xs-12">
        <a class="btn btn-default" href="{{ path('admin_category_list') }}">Back to Category list</a>
    </div>
</div>        

{% endblock %}
