/*Grid*/
/* line 2, ../../sass/vendors/_ui.jqgrid.scss */
.ui-jqgrid {
  position: relative;
}

/* line 3, ../../sass/vendors/_ui.jqgrid.scss */
.ui-jqgrid .ui-jqgrid-view {
  position: relative;
  left: 0;
  top: 0;
  padding: 0;
  font-size: 11px;
}

/* caption*/
/* line 5, ../../sass/vendors/_ui.jqgrid.scss */
.ui-jqgrid .ui-jqgrid-titlebar {
  padding: .3em .2em .2em .3em;
  position: relative;
  border-left: 0 none;
  border-right: 0 none;
  border-top: 0 none;
}

/* line 6, ../../sass/vendors/_ui.jqgrid.scss */
.ui-jqgrid .ui-jqgrid-title {
  float: left;
  margin: .1em 0 .2em;
}

/* line 7, ../../sass/vendors/_ui.jqgrid.scss */
.ui-jqgrid .ui-jqgrid-titlebar-close {
  position: absolute;
  top: 50%;
  width: 19px;
  margin: -10px 0 0 0;
  padding: 1px;
  height: 18px;
  cursor: pointer;
}

/* line 8, ../../sass/vendors/_ui.jqgrid.scss */
.ui-jqgrid .ui-jqgrid-titlebar-close span {
  display: block;
  margin: 1px;
}

/* line 9, ../../sass/vendors/_ui.jqgrid.scss */
.ui-jqgrid .ui-jqgrid-titlebar-close:hover {
  padding: 0;
}

/* header*/
/* line 11, ../../sass/vendors/_ui.jqgrid.scss */
.ui-jqgrid .ui-jqgrid-hdiv {
  position: relative;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  border-left: 0 none !important;
  border-top: 0 none !important;
  border-right: 0 none !important;
}

/* line 12, ../../sass/vendors/_ui.jqgrid.scss */
.ui-jqgrid .ui-jqgrid-hbox {
  float: left;
  padding-right: 20px;
}

/* line 13, ../../sass/vendors/_ui.jqgrid.scss */
.ui-jqgrid .ui-jqgrid-htable {
  table-layout: fixed;
  margin: 0;
}

/* line 14, ../../sass/vendors/_ui.jqgrid.scss */
.ui-jqgrid .ui-jqgrid-htable th {
  height: 22px;
  padding: 0 2px 0 2px;
}

/* line 15, ../../sass/vendors/_ui.jqgrid.scss */
.ui-jqgrid .ui-jqgrid-htable th div {
  overflow: hidden;
  position: relative;
  height: 17px;
}

/* line 16, ../../sass/vendors/_ui.jqgrid.scss */
.ui-th-column, .ui-jqgrid .ui-jqgrid-htable th.ui-th-column {
  overflow: hidden;
  white-space: nowrap;
  text-align: center;
  border-top: 0 none;
  border-bottom: 0 none;
}

/* line 17, ../../sass/vendors/_ui.jqgrid.scss */
.ui-th-ltr, .ui-jqgrid .ui-jqgrid-htable th.ui-th-ltr {
  border-left: 0 none;
}

/* line 18, ../../sass/vendors/_ui.jqgrid.scss */
.ui-th-rtl, .ui-jqgrid .ui-jqgrid-htable th.ui-th-rtl {
  border-right: 0 none;
}

/* line 19, ../../sass/vendors/_ui.jqgrid.scss */
.ui-first-th-ltr {
  border-right: 1px solid;
}

/* line 20, ../../sass/vendors/_ui.jqgrid.scss */
.ui-first-th-rtl {
  border-left: 1px solid;
}

/* line 21, ../../sass/vendors/_ui.jqgrid.scss */
.ui-jqgrid .ui-th-div-ie {
  white-space: nowrap;
  zoom: 1;
  height: 17px;
}

/* line 22, ../../sass/vendors/_ui.jqgrid.scss */
.ui-jqgrid .ui-jqgrid-resize {
  height: 20px !important;
  position: relative;
  cursor: e-resize;
  display: inline;
  overflow: hidden;
}

/* line 23, ../../sass/vendors/_ui.jqgrid.scss */
.ui-jqgrid .ui-grid-ico-sort {
  overflow: hidden;
  position: absolute;
  display: inline;
  cursor: pointer !important;
}

/* line 24, ../../sass/vendors/_ui.jqgrid.scss */
.ui-jqgrid .ui-icon-asc {
  margin-top: -3px;
  height: 12px;
}

/* line 25, ../../sass/vendors/_ui.jqgrid.scss */
.ui-jqgrid .ui-icon-desc {
  margin-top: 3px;
  height: 12px;
}

/* line 26, ../../sass/vendors/_ui.jqgrid.scss */
.ui-jqgrid .ui-i-asc {
  margin-top: 0;
  height: 16px;
}

/* line 27, ../../sass/vendors/_ui.jqgrid.scss */
.ui-jqgrid .ui-i-desc {
  margin-top: 0;
  margin-left: 13px;
  height: 16px;
}

/* line 28, ../../sass/vendors/_ui.jqgrid.scss */
.ui-jqgrid .ui-jqgrid-sortable {
  cursor: pointer;
}

/* line 29, ../../sass/vendors/_ui.jqgrid.scss */
.ui-jqgrid tr.ui-search-toolbar th {
  border-top-width: 1px !important;
  border-top-color: inherit !important;
  border-top-style: ridge !important;
}

/* line 30, ../../sass/vendors/_ui.jqgrid.scss */
tr.ui-search-toolbar input {
  margin: 1px 0 0 0;
}

/* line 31, ../../sass/vendors/_ui.jqgrid.scss */
tr.ui-search-toolbar select {
  margin: 1px 0 0 0;
}

/* body */
/* line 33, ../../sass/vendors/_ui.jqgrid.scss */
.ui-jqgrid .ui-jqgrid-bdiv {
  position: relative;
  margin: 0;
  padding: 0;
  overflow: auto;
  text-align: left;
}

/* line 34, ../../sass/vendors/_ui.jqgrid.scss */
.ui-jqgrid .ui-jqgrid-btable {
  table-layout: fixed;
  margin: 0;
  outline-style: none;
}

/* line 35, ../../sass/vendors/_ui.jqgrid.scss */
.ui-jqgrid tr.jqgrow {
  outline-style: none;
}

/* line 36, ../../sass/vendors/_ui.jqgrid.scss */
.ui-jqgrid tr.jqgroup {
  outline-style: none;
}

/* line 37, ../../sass/vendors/_ui.jqgrid.scss */
.ui-jqgrid tr.jqgrow td {
  font-weight: normal;
  overflow: hidden;
  white-space: pre;
  height: 22px;
  padding: 0 2px 0 2px;
  border-bottom-width: 1px;
  border-bottom-color: inherit;
  border-bottom-style: solid;
}

/* line 38, ../../sass/vendors/_ui.jqgrid.scss */
.ui-jqgrid tr.jqgfirstrow td {
  padding: 0 2px 0 2px;
  border-right-width: 1px;
  border-right-style: solid;
}

/* line 39, ../../sass/vendors/_ui.jqgrid.scss */
.ui-jqgrid tr.jqgroup td {
  font-weight: normal;
  overflow: hidden;
  white-space: pre;
  height: 22px;
  padding: 0 2px 0 2px;
  border-bottom-width: 1px;
  border-bottom-color: inherit;
  border-bottom-style: solid;
}

/* line 40, ../../sass/vendors/_ui.jqgrid.scss */
.ui-jqgrid tr.jqfoot td {
  font-weight: bold;
  overflow: hidden;
  white-space: pre;
  height: 22px;
  padding: 0 2px 0 2px;
  border-bottom-width: 1px;
  border-bottom-color: inherit;
  border-bottom-style: solid;
}

/* line 41, ../../sass/vendors/_ui.jqgrid.scss */
.ui-jqgrid tr.ui-row-ltr td {
  text-align: left;
  border-right-width: 1px;
  border-right-color: inherit;
  border-right-style: solid;
}

/* line 42, ../../sass/vendors/_ui.jqgrid.scss */
.ui-jqgrid tr.ui-row-rtl td {
  text-align: right;
  border-left-width: 1px;
  border-left-color: inherit;
  border-left-style: solid;
}

/* line 43, ../../sass/vendors/_ui.jqgrid.scss */
.ui-jqgrid td.jqgrid-rownum {
  padding: 0 2px 0 2px;
  margin: 0;
  border: 0 none;
}

/* line 44, ../../sass/vendors/_ui.jqgrid.scss */
.ui-jqgrid .ui-jqgrid-resize-mark {
  width: 2px;
  left: 0;
  background-color: #777;
  cursor: e-resize;
  cursor: col-resize;
  position: absolute;
  top: 0;
  height: 100px;
  overflow: hidden;
  display: none;
  border: 0 none;
  z-index: 99999;
}

/* footer */
/* line 46, ../../sass/vendors/_ui.jqgrid.scss */
.ui-jqgrid .ui-jqgrid-sdiv {
  position: relative;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border-left: 0 none !important;
  border-top: 0 none !important;
  border-right: 0 none !important;
}

/* line 47, ../../sass/vendors/_ui.jqgrid.scss */
.ui-jqgrid .ui-jqgrid-ftable {
  table-layout: fixed;
  margin-bottom: 0;
}

/* line 48, ../../sass/vendors/_ui.jqgrid.scss */
.ui-jqgrid tr.footrow td {
  font-weight: bold;
  overflow: hidden;
  white-space: nowrap;
  height: 21px;
  padding: 0 2px 0 2px;
  border-top-width: 1px;
  border-top-color: inherit;
  border-top-style: solid;
}

/* line 49, ../../sass/vendors/_ui.jqgrid.scss */
.ui-jqgrid tr.footrow-ltr td {
  text-align: left;
  border-right-width: 1px;
  border-right-color: inherit;
  border-right-style: solid;
}

/* line 50, ../../sass/vendors/_ui.jqgrid.scss */
.ui-jqgrid tr.footrow-rtl td {
  text-align: right;
  border-left-width: 1px;
  border-left-color: inherit;
  border-left-style: solid;
}

/* Pager*/
/* line 52, ../../sass/vendors/_ui.jqgrid.scss */
.ui-jqgrid .ui-jqgrid-pager {
  border-left: 0 none !important;
  border-right: 0 none !important;
  border-bottom: 0 none !important;
  margin: 0 !important;
  padding: 0 !important;
  position: relative;
  height: 25px;
  white-space: nowrap;
  overflow: hidden;
  font-size: 11px;
}

/* line 53, ../../sass/vendors/_ui.jqgrid.scss */
.ui-jqgrid .ui-pager-control {
  position: relative;
}

/* line 54, ../../sass/vendors/_ui.jqgrid.scss */
.ui-jqgrid .ui-pg-table {
  position: relative;
  padding-bottom: 2px;
  width: auto;
  margin: 0;
}

/* line 55, ../../sass/vendors/_ui.jqgrid.scss */
.ui-jqgrid .ui-pg-table td {
  font-weight: normal;
  vertical-align: middle;
  padding: 1px;
}

/* line 56, ../../sass/vendors/_ui.jqgrid.scss */
.ui-jqgrid .ui-pg-button {
  height: 19px !important;
}

/* line 57, ../../sass/vendors/_ui.jqgrid.scss */
.ui-jqgrid .ui-pg-button span {
  display: block;
  margin: 1px;
  float: left;
}

/* line 58, ../../sass/vendors/_ui.jqgrid.scss */
.ui-jqgrid .ui-pg-button:hover {
  padding: 0;
}

/* line 59, ../../sass/vendors/_ui.jqgrid.scss */
.ui-jqgrid .ui-state-disabled:hover {
  padding: 1px;
}

/* line 60, ../../sass/vendors/_ui.jqgrid.scss */
.ui-jqgrid .ui-pg-input {
  height: 13px;
  font-size: .8em;
  margin: 0;
}

/* line 61, ../../sass/vendors/_ui.jqgrid.scss */
.ui-jqgrid .ui-pg-selbox {
  font-size: .8em;
  line-height: 18px;
  display: block;
  height: 18px;
  margin: 0;
}

/* line 62, ../../sass/vendors/_ui.jqgrid.scss */
.ui-jqgrid .ui-separator {
  height: 18px;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  margin: 1px;
  float: right;
}

/* line 63, ../../sass/vendors/_ui.jqgrid.scss */
.ui-jqgrid .ui-paging-info {
  font-weight: normal;
  height: 19px;
  margin-top: 3px;
  margin-right: 4px;
}

/* line 64, ../../sass/vendors/_ui.jqgrid.scss */
.ui-jqgrid .ui-jqgrid-pager .ui-pg-div {
  padding: 1px 0;
  float: left;
  position: relative;
}

/* line 65, ../../sass/vendors/_ui.jqgrid.scss */
.ui-jqgrid .ui-jqgrid-pager .ui-pg-button {
  cursor: pointer;
}

/* line 66, ../../sass/vendors/_ui.jqgrid.scss */
.ui-jqgrid .ui-jqgrid-pager .ui-pg-div span.ui-icon {
  float: left;
  margin: 0 2px;
}

/* line 67, ../../sass/vendors/_ui.jqgrid.scss */
.ui-jqgrid td input, .ui-jqgrid td select .ui-jqgrid td textarea {
  margin: 0;
}

/* line 68, ../../sass/vendors/_ui.jqgrid.scss */
.ui-jqgrid td textarea {
  width: auto;
  height: auto;
}

/* line 69, ../../sass/vendors/_ui.jqgrid.scss */
.ui-jqgrid .ui-jqgrid-toppager {
  border-left: 0 none !important;
  border-right: 0 none !important;
  border-top: 0 none !important;
  margin: 0 !important;
  padding: 0 !important;
  position: relative;
  height: 25px !important;
  white-space: nowrap;
  overflow: hidden;
}

/* line 70, ../../sass/vendors/_ui.jqgrid.scss */
.ui-jqgrid .ui-jqgrid-toppager .ui-pg-div {
  padding: 1px 0;
  float: left;
  position: relative;
}

/* line 71, ../../sass/vendors/_ui.jqgrid.scss */
.ui-jqgrid .ui-jqgrid-toppager .ui-pg-button {
  cursor: pointer;
}

/* line 72, ../../sass/vendors/_ui.jqgrid.scss */
.ui-jqgrid .ui-jqgrid-toppager .ui-pg-div span.ui-icon {
  float: left;
  margin: 0 2px;
}

/*subgrid*/
/* line 74, ../../sass/vendors/_ui.jqgrid.scss */
.ui-jqgrid .ui-jqgrid-btable .ui-sgcollapsed span {
  display: block;
}

/* line 75, ../../sass/vendors/_ui.jqgrid.scss */
.ui-jqgrid .ui-subgrid {
  margin: 0;
  padding: 0;
  width: 100%;
}

/* line 76, ../../sass/vendors/_ui.jqgrid.scss */
.ui-jqgrid .ui-subgrid table {
  table-layout: fixed;
}

/* line 77, ../../sass/vendors/_ui.jqgrid.scss */
.ui-jqgrid .ui-subgrid tr.ui-subtblcell td {
  height: 18px;
  border-right-width: 1px;
  border-right-color: inherit;
  border-right-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: inherit;
  border-bottom-style: solid;
}

/* line 78, ../../sass/vendors/_ui.jqgrid.scss */
.ui-jqgrid .ui-subgrid td.subgrid-data {
  border-top: 0 none !important;
}

/* line 79, ../../sass/vendors/_ui.jqgrid.scss */
.ui-jqgrid .ui-subgrid td.subgrid-cell {
  border-width: 0 0 1px 0;
}

/* line 80, ../../sass/vendors/_ui.jqgrid.scss */
.ui-jqgrid .ui-th-subgrid {
  height: 20px;
}

/* loading */
/* line 82, ../../sass/vendors/_ui.jqgrid.scss */
.ui-jqgrid .loading {
  position: absolute;
  top: 45%;
  left: 45%;
  width: auto;
  z-index: 101;
  padding: 6px;
  margin: 5px;
  text-align: center;
  font-weight: bold;
  display: none;
  border-width: 2px !important;
  font-size: 11px;
}

/* line 83, ../../sass/vendors/_ui.jqgrid.scss */
.ui-jqgrid .jqgrid-overlay {
  display: none;
  z-index: 100;
}

/* line 84, ../../sass/vendors/_ui.jqgrid.scss */
* html .jqgrid-overlay {
  width: expression(this.parentNode.offsetWidth+'px');
  height: expression(this.parentNode.offsetHeight+'px');
}

/* line 85, ../../sass/vendors/_ui.jqgrid.scss */
* .jqgrid-overlay iframe {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: expression(this.parentNode.offsetWidth+'px');
  height: expression(this.parentNode.offsetHeight+'px');
}

/* end loading div */
/* toolbar */
/* line 88, ../../sass/vendors/_ui.jqgrid.scss */
.ui-jqgrid .ui-userdata {
  border-left: 0 none;
  border-right: 0 none;
  height: 21px;
  overflow: hidden;
}

/*Modal Window */
/* line 90, ../../sass/vendors/_ui.jqgrid.scss */
.ui-jqdialog {
  display: none;
  width: 300px;
  position: absolute;
  padding: .2em;
  font-size: 11px;
  overflow: visible;
}

/* line 91, ../../sass/vendors/_ui.jqgrid.scss */
.ui-jqdialog .ui-jqdialog-titlebar {
  padding: .3em .2em;
  position: relative;
}

/* line 92, ../../sass/vendors/_ui.jqgrid.scss */
.ui-jqdialog .ui-jqdialog-title {
  margin: .1em 0 .2em;
}

/* line 93, ../../sass/vendors/_ui.jqgrid.scss */
.ui-jqdialog .ui-jqdialog-titlebar-close {
  position: absolute;
  top: 50%;
  width: 19px;
  margin: -10px 0 0 0;
  padding: 1px;
  height: 18px;
  cursor: pointer;
}

/* line 95, ../../sass/vendors/_ui.jqgrid.scss */
.ui-jqdialog .ui-jqdialog-titlebar-close span {
  display: block;
  margin: 1px;
}

/* line 96, ../../sass/vendors/_ui.jqgrid.scss */
.ui-jqdialog .ui-jqdialog-titlebar-close:hover, .ui-jqdialog .ui-jqdialog-titlebar-close:focus {
  padding: 0;
}

/* line 97, ../../sass/vendors/_ui.jqgrid.scss */
.ui-jqdialog-content, .ui-jqdialog .ui-jqdialog-content {
  border: 0;
  padding: .3em .2em;
  background: none;
  height: auto;
}

/* line 98, ../../sass/vendors/_ui.jqgrid.scss */
.ui-jqdialog .ui-jqconfirm {
  padding: .4em 1em;
  border-width: 3px;
  position: absolute;
  bottom: 10px;
  right: 10px;
  overflow: visible;
  display: none;
  height: 80px;
  width: 220px;
  text-align: center;
}

/* line 99, ../../sass/vendors/_ui.jqgrid.scss */
.ui-jqdialog > .ui-resizable-se {
  bottom: -3px;
  right: -3px;
}

/* line 100, ../../sass/vendors/_ui.jqgrid.scss */
.ui-jqgrid > .ui-resizable-se {
  bottom: -3px;
  right: -3px;
}

/* end Modal window*/
/* Form edit */
/* line 103, ../../sass/vendors/_ui.jqgrid.scss */
.ui-jqdialog-content .FormGrid {
  margin: 0;
}

/* line 104, ../../sass/vendors/_ui.jqgrid.scss */
.ui-jqdialog-content .EditTable {
  width: 100%;
  margin-bottom: 0;
}

/* line 105, ../../sass/vendors/_ui.jqgrid.scss */
.ui-jqdialog-content .DelTable {
  width: 100%;
  margin-bottom: 0;
}

/* line 106, ../../sass/vendors/_ui.jqgrid.scss */
.EditTable td input, .EditTable td select, .EditTable td textarea {
  margin: 0;
}

/* line 107, ../../sass/vendors/_ui.jqgrid.scss */
.EditTable td textarea {
  width: auto;
  height: auto;
}

/* line 108, ../../sass/vendors/_ui.jqgrid.scss */
.ui-jqdialog-content td.EditButton {
  text-align: right;
  border-top: 0 none;
  border-left: 0 none;
  border-right: 0 none;
  padding-bottom: 5px;
  padding-top: 5px;
}

/* line 109, ../../sass/vendors/_ui.jqgrid.scss */
.ui-jqdialog-content td.navButton {
  text-align: center;
  border-left: 0 none;
  border-top: 0 none;
  border-right: 0 none;
  padding-bottom: 5px;
  padding-top: 5px;
}

/* line 110, ../../sass/vendors/_ui.jqgrid.scss */
.ui-jqdialog-content input.FormElement {
  padding: .3em;
}

/* line 111, ../../sass/vendors/_ui.jqgrid.scss */
.ui-jqdialog-content select.FormElement {
  padding: .3em;
}

/* line 112, ../../sass/vendors/_ui.jqgrid.scss */
.ui-jqdialog-content .data-line {
  padding-top: .1em;
  border: 0 none;
}

/* line 114, ../../sass/vendors/_ui.jqgrid.scss */
.ui-jqdialog-content .CaptionTD {
  vertical-align: middle;
  border: 0 none;
  padding: 2px;
  white-space: nowrap;
}

/* line 115, ../../sass/vendors/_ui.jqgrid.scss */
.ui-jqdialog-content .DataTD {
  padding: 2px;
  border: 0 none;
  vertical-align: top;
}

/* line 116, ../../sass/vendors/_ui.jqgrid.scss */
.ui-jqdialog-content .form-view-data {
  white-space: pre;
}

/* line 117, ../../sass/vendors/_ui.jqgrid.scss */
.fm-button {
  display: inline-block;
  margin: 0 4px 0 0;
  padding: .4em .5em;
  text-decoration: none !important;
  cursor: pointer;
  position: relative;
  text-align: center;
  zoom: 1;
}

/* line 118, ../../sass/vendors/_ui.jqgrid.scss */
.fm-button-icon-left {
  padding-left: 1.9em;
}

/* line 119, ../../sass/vendors/_ui.jqgrid.scss */
.fm-button-icon-right {
  padding-right: 1.9em;
}

/* line 120, ../../sass/vendors/_ui.jqgrid.scss */
.fm-button-icon-left .ui-icon {
  right: auto;
  left: .2em;
  margin-left: 0;
  position: absolute;
  top: 50%;
  margin-top: -8px;
}

/* line 121, ../../sass/vendors/_ui.jqgrid.scss */
.fm-button-icon-right .ui-icon {
  left: auto;
  right: .2em;
  margin-left: 0;
  position: absolute;
  top: 50%;
  margin-top: -8px;
}

/* line 122, ../../sass/vendors/_ui.jqgrid.scss */
#nData, #pData {
  float: left;
  margin: 3px;
  padding: 0;
  width: 15px;
}

/* End Eorm edit */
/*.ui-jqgrid .edit-cell {}*/
/* line 125, ../../sass/vendors/_ui.jqgrid.scss */
.ui-jqgrid .selected-row, div.ui-jqgrid .selected-row td {
  font-style: normal;
  border-left: 0 none;
}

/* inline edit actions button*/
/* line 127, ../../sass/vendors/_ui.jqgrid.scss */
.ui-inline-del.ui-state-hover span, .ui-inline-edit.ui-state-hover span,
.ui-inline-save.ui-state-hover span, .ui-inline-cancel.ui-state-hover span {
  margin: -1px;
}

/* Tree Grid */
/* line 132, ../../sass/vendors/_ui.jqgrid.scss */
.ui-jqgrid .tree-wrap {
  float: left;
  position: relative;
  height: 18px;
  white-space: nowrap;
  overflow: hidden;
}

/* line 133, ../../sass/vendors/_ui.jqgrid.scss */
.ui-jqgrid .tree-minus {
  position: absolute;
  height: 18px;
  width: 18px;
  overflow: hidden;
}

/* line 134, ../../sass/vendors/_ui.jqgrid.scss */
.ui-jqgrid .tree-plus {
  position: absolute;
  height: 18px;
  width: 18px;
  overflow: hidden;
}

/* line 135, ../../sass/vendors/_ui.jqgrid.scss */
.ui-jqgrid .tree-leaf {
  position: absolute;
  height: 18px;
  width: 18px;
  overflow: hidden;
}

/* line 136, ../../sass/vendors/_ui.jqgrid.scss */
.ui-jqgrid .treeclick {
  cursor: pointer;
}

/* moda dialog */
/* line 138, ../../sass/vendors/_ui.jqgrid.scss */
* iframe.jqm {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: expression(this.parentNode.offsetWidth+'px');
  height: expression(this.parentNode.offsetHeight+'px');
}

/* line 139, ../../sass/vendors/_ui.jqgrid.scss */
.ui-jqgrid-dnd tr td {
  border-right-width: 1px;
  border-right-color: inherit;
  border-right-style: solid;
  height: 20px;
}

/* RTL Support */
/* line 141, ../../sass/vendors/_ui.jqgrid.scss */
.ui-jqgrid .ui-jqgrid-title-rtl {
  float: right;
  margin: .1em 0 .2em;
}

/* line 142, ../../sass/vendors/_ui.jqgrid.scss */
.ui-jqgrid .ui-jqgrid-hbox-rtl {
  float: right;
  padding-left: 20px;
}

/* line 143, ../../sass/vendors/_ui.jqgrid.scss */
.ui-jqgrid .ui-jqgrid-resize-ltr {
  float: right;
  margin: -2px -2px -2px 0;
}

/* line 144, ../../sass/vendors/_ui.jqgrid.scss */
.ui-jqgrid .ui-jqgrid-resize-rtl {
  float: left;
  margin: -2px 0 -1px -3px;
}

/* line 145, ../../sass/vendors/_ui.jqgrid.scss */
.ui-jqgrid .ui-sort-rtl {
  left: 0;
}

/* line 146, ../../sass/vendors/_ui.jqgrid.scss */
.ui-jqgrid .tree-wrap-ltr {
  float: left;
}

/* line 147, ../../sass/vendors/_ui.jqgrid.scss */
.ui-jqgrid .tree-wrap-rtl {
  float: right;
}

/* line 148, ../../sass/vendors/_ui.jqgrid.scss */
.ui-jqgrid .ui-ellipsis {
  text-overflow: ellipsis;
}

/* Toolbar Search Menu */
/* line 151, ../../sass/vendors/_ui.jqgrid.scss */
.ui-search-menu {
  position: absolute;
  padding: 2px 5px;
}

/* line 152, ../../sass/vendors/_ui.jqgrid.scss */
.ui-jqgrid .ui-search-table {
  padding: 0px 0px;
  border: 0px none;
  height: 20px;
  width: 100%;
}

/* line 153, ../../sass/vendors/_ui.jqgrid.scss */
.ui-jqgrid .ui-search-table .ui-search-oper {
  width: 20px;
}

/* line 154, ../../sass/vendors/_ui.jqgrid.scss */
a.g-menu-item, a.soptclass, a.clearsearchclass {
  cursor: pointer;
}

/* line 155, ../../sass/vendors/_ui.jqgrid.scss */
.ui-jqgrid .ui-search-table .ui-search-input > input,
.ui-jqgrid .ui-search-table .ui-search-input > select {
  display: block;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}


/* jqgrid table */
/* line 236, ../../sass/partials/_tables.scss */
.ui-jqgrid {
  background-color: #f9f9f9;
  /* bottom of the table */
}
/* line 237, ../../sass/partials/_tables.scss */
.ui-jqgrid .ui-jqgrid-view {
  font-size: 13px;
}
/* line 241, ../../sass/partials/_tables.scss */
.ui-jqgrid .ui-pg-input {
  height: inherit;
}
/* line 246, ../../sass/partials/_tables.scss */
.ui-jqgrid .ui-jqgrid-htable th {
  padding: 10px 2px;
}
/* line 251, ../../sass/partials/_tables.scss */
.ui-jqgrid .ui-jqgrid-btable {
  /* jqgrid inline edit and delete buttons */
}
/* line 253, ../../sass/partials/_tables.scss */
.ui-jqgrid .ui-jqgrid-btable .ui-icon {
  cursor: pointer;
  font-size: 18px;
}
/* line 257, ../../sass/partials/_tables.scss */
.ui-jqgrid .ui-jqgrid-btable .ui-icon:before {
  font-family: FontAwesome;
}
/* line 263, ../../sass/partials/_tables.scss */
.ui-jqgrid .ui-jqgrid-btable .ui-inline-edit .ui-icon-pencil {
  color: #FF931D;
}
/* line 266, ../../sass/partials/_tables.scss */
.ui-jqgrid .ui-jqgrid-btable .ui-inline-edit .ui-icon-pencil:before {
  content: '\f040';
}
/* line 272, ../../sass/partials/_tables.scss */
.ui-jqgrid .ui-jqgrid-btable .ui-inline-del {
  margin-left: 15px !important;
  cursor: pointer;
}
/* line 276, ../../sass/partials/_tables.scss */
.ui-jqgrid .ui-jqgrid-btable .ui-inline-del .ui-icon-trash {
  color: #F31414;
}
/* line 279, ../../sass/partials/_tables.scss */
.ui-jqgrid .ui-jqgrid-btable .ui-inline-del .ui-icon-trash:before {
  content: '\f014';
}
/* line 285, ../../sass/partials/_tables.scss */
.ui-jqgrid .ui-jqgrid-btable .ui-icon-disk:before {
  content: '\f00c';
  color: #69DD27;
}
/* line 290, ../../sass/partials/_tables.scss */
.ui-jqgrid .ui-jqgrid-btable .ui-icon-cancel {
  margin-left: 6px !important;
}
/* line 293, ../../sass/partials/_tables.scss */
.ui-jqgrid .ui-jqgrid-btable .ui-icon-cancel:before {
  content: '\f00d';
  color: #f00;
}
/* line 299, ../../sass/partials/_tables.scss */
.ui-jqgrid .ui-jqgrid-btable .ui-inline-cancel,
.ui-jqgrid .ui-jqgrid-btable .ui-inline-save {
  cursor: pointer;
}
/* line 305, ../../sass/partials/_tables.scss */
.ui-jqgrid table {
  border-color: #ddd;
  font-size: 0.9em;
}
/* line 310, ../../sass/partials/_tables.scss */
.ui-jqgrid .ui-jqgrid-titlebar .ui-jqgrid-title {
  font-weight: 700;
}
/* line 314, ../../sass/partials/_tables.scss */
.ui-jqgrid .ui-jqgrid-hbox,
.ui-jqgrid thead {
  background-color: #296EAA;
  color: #FFF;
}
/* line 320, ../../sass/partials/_tables.scss */
.ui-jqgrid tr.jqgfirstrow td {
  border: none;
}
/* line 325, ../../sass/partials/_tables.scss */
.ui-jqgrid tr.jqgrow td {
  padding: 8px;
  vertical-align: middle;
  border-bottom-color: #ddd;
}
/* line 331, ../../sass/partials/_tables.scss */
.ui-jqgrid tr.jqgrow.ui-state-highlight {
  background-color: #FFFEED;
}
/* line 338, ../../sass/partials/_tables.scss */
.ui-jqgrid .ui-grid-ico-sort.ui-icon {
  text-indent: 0px;
  color: #dceaf6;
  float: none;
  right: 2px;
  position: absolute;
}
/* line 346, ../../sass/partials/_tables.scss */
.ui-jqgrid .ui-grid-ico-sort:before {
  font-family: FontAwesome;
  display: inline;
  content: '\f0d7';
  font-size: 12px;
}
/* line 355, ../../sass/partials/_tables.scss */
.ui-jqgrid .ui-grid-ico-sort.ui-icon-asc:before {
  content: '\f0d8';
}
/* line 360, ../../sass/partials/_tables.scss */
.ui-jqgrid .ui-grid-ico-sort.ui-icon-desc:before {
  content: '\f0d7';
}
/* line 364, ../../sass/partials/_tables.scss */
.ui-jqgrid .ui-grid-ico-sort.ui-state-disabled {
  color: #60a1d9;
}
/* line 369, ../../sass/partials/_tables.scss */
.ui-jqgrid .ui-pg-button:hover {
  padding: 1px;
}
/* line 373, ../../sass/partials/_tables.scss */
.ui-jqgrid .ui-pg-table {
  font-size: 11px;
}
/* line 378, ../../sass/partials/_tables.scss */
.ui-jqgrid .ui-jqgrid-pager {
  height: 45px;
}
/* line 386, ../../sass/partials/_tables.scss */
.ui-jqgrid .ui-jqgrid-pager #jqgrid-pager_center .ui-separator {
  display: none;
}
/* line 389, ../../sass/partials/_tables.scss */
.ui-jqgrid .ui-jqgrid-pager #jqgrid-pager_center .ui-icon:hover {
  color: #7c7c7c;
}
/* line 394, ../../sass/partials/_tables.scss */
.ui-jqgrid .ui-jqgrid-pager .ui-pg-div span.ui-icon,
.ui-jqgrid .ui-jqgrid-pager .ui-icon {
  cursor: pointer;
  font-size: 18px;
  color: #bbb;
  margin: 0 8px;
}
/* line 401, ../../sass/partials/_tables.scss */
.ui-jqgrid .ui-jqgrid-pager .ui-pg-div span.ui-icon:before,
.ui-jqgrid .ui-jqgrid-pager .ui-icon:before {
  font-family: FontAwesome;
}
/* line 406, ../../sass/partials/_tables.scss */
.ui-jqgrid .ui-jqgrid-pager .ui-pg-div span.ui-icon.ui-icon-pencil:before,
.ui-jqgrid .ui-jqgrid-pager .ui-icon.ui-icon-pencil:before {
  content: '\f040';
}
/* line 410, ../../sass/partials/_tables.scss */
.ui-jqgrid .ui-jqgrid-pager .ui-pg-div span.ui-icon.ui-icon-pencil:hover,
.ui-jqgrid .ui-jqgrid-pager .ui-icon.ui-icon-pencil:hover {
  color: #FF931D;
}
/* line 416, ../../sass/partials/_tables.scss */
.ui-jqgrid .ui-jqgrid-pager .ui-pg-div span.ui-icon.ui-icon-trash:before,
.ui-jqgrid .ui-jqgrid-pager .ui-icon.ui-icon-trash:before {
  content: '\f014';
}
/* line 420, ../../sass/partials/_tables.scss */
.ui-jqgrid .ui-jqgrid-pager .ui-pg-div span.ui-icon.ui-icon-trash:hover,
.ui-jqgrid .ui-jqgrid-pager .ui-icon.ui-icon-trash:hover {
  color: #F31414;
}
/* line 426, ../../sass/partials/_tables.scss */
.ui-jqgrid .ui-jqgrid-pager .ui-pg-div span.ui-icon.ui-icon-plus:before,
.ui-jqgrid .ui-jqgrid-pager .ui-icon.ui-icon-plus:before {
  content: '\f067';
}
/* line 430, ../../sass/partials/_tables.scss */
.ui-jqgrid .ui-jqgrid-pager .ui-pg-div span.ui-icon.ui-icon-plus:hover,
.ui-jqgrid .ui-jqgrid-pager .ui-icon.ui-icon-plus:hover {
  color: #326EAF;
}
/* line 436, ../../sass/partials/_tables.scss */
.ui-jqgrid .ui-jqgrid-pager .ui-pg-div span.ui-icon.ui-icon-document:before,
.ui-jqgrid .ui-jqgrid-pager .ui-icon.ui-icon-document:before {
  content: '\f06e';
  /* fa-eye */
}
/* line 440, ../../sass/partials/_tables.scss */
.ui-jqgrid .ui-jqgrid-pager .ui-pg-div span.ui-icon.ui-icon-document:hover,
.ui-jqgrid .ui-jqgrid-pager .ui-icon.ui-icon-document:hover {
  color: #7c7c7c;
}
/* line 446, ../../sass/partials/_tables.scss */
.ui-jqgrid .ui-jqgrid-pager .ui-pg-div span.ui-icon.ui-icon-search:before,
.ui-jqgrid .ui-jqgrid-pager .ui-icon.ui-icon-search:before {
  content: '\f002';
}
/* line 449, ../../sass/partials/_tables.scss */
.ui-jqgrid .ui-jqgrid-pager .ui-pg-div span.ui-icon.ui-icon-search:hover,
.ui-jqgrid .ui-jqgrid-pager .ui-icon.ui-icon-search:hover {
  color: #2EB1D1;
}
/* line 455, ../../sass/partials/_tables.scss */
.ui-jqgrid .ui-jqgrid-pager .ui-pg-div span.ui-icon.ui-icon-refresh:before,
.ui-jqgrid .ui-jqgrid-pager .ui-icon.ui-icon-refresh:before {
  content: '\f021';
}
/* line 458, ../../sass/partials/_tables.scss */
.ui-jqgrid .ui-jqgrid-pager .ui-pg-div span.ui-icon.ui-icon-refresh:hover,
.ui-jqgrid .ui-jqgrid-pager .ui-icon.ui-icon-refresh:hover {
  color: #C9D819;
}
/* line 463, ../../sass/partials/_tables.scss */
.ui-jqgrid .ui-jqgrid-pager .ui-pg-div span.ui-icon.ui-icon-seek-first:before,
.ui-jqgrid .ui-jqgrid-pager .ui-icon.ui-icon-seek-first:before {
  content: '\f100';
}
/* line 467, ../../sass/partials/_tables.scss */
.ui-jqgrid .ui-jqgrid-pager .ui-pg-div span.ui-icon.ui-icon-seek-prev:before,
.ui-jqgrid .ui-jqgrid-pager .ui-icon.ui-icon-seek-prev:before {
  content: '\f104';
}
/* line 471, ../../sass/partials/_tables.scss */
.ui-jqgrid .ui-jqgrid-pager .ui-pg-div span.ui-icon.ui-icon-seek-next:before,
.ui-jqgrid .ui-jqgrid-pager .ui-icon.ui-icon-seek-next:before {
  content: '\f105';
}
/* line 475, ../../sass/partials/_tables.scss */
.ui-jqgrid .ui-jqgrid-pager .ui-pg-div span.ui-icon.ui-icon-seek-end:before,
.ui-jqgrid .ui-jqgrid-pager .ui-icon.ui-icon-seek-end:before {
  content: '\f101';
}
/* line 481, ../../sass/partials/_tables.scss */
.ui-jqgrid .ui-pg-div.ui-state-hover span {
  margin: 0;
}

/* line 486, ../../sass/partials/_tables.scss */
.ui-widget-overlay {
  background-color: #000;
}

/* line 490, ../../sass/partials/_tables.scss */
.ui-jqdialog {
  background-color: #f1f1f1;
  border: 2px solid #969696;
  font-size: 12px;
  /* jqdialog buttons */
  /* nav button at edit dialog */
}
/* line 495, ../../sass/partials/_tables.scss */
.ui-jqdialog .ui-icon {
  font-family: FontAwesome;
  content: '';
}
/* line 500, ../../sass/partials/_tables.scss */
.ui-jqdialog .ui-widget-header {
  background-color: #ddd;
  min-height: 37px;
  font-weight: 700;
  font-size: 1.3em;
  padding: 5px;
}
/* line 508, ../../sass/partials/_tables.scss */
.ui-jqdialog .ui-jqdialog-titlebar-close {
  width: 16px;
  height: 16px;
  color: #FF1717;
}
/* line 513, ../../sass/partials/_tables.scss */
.ui-jqdialog .ui-jqdialog-titlebar-close:hover {
  text-decoration: none;
  color: #e30000;
  padding: 1px;
}
/* line 520, ../../sass/partials/_tables.scss */
.ui-jqdialog .ui-icon-closethick {
  top: -4px;
  position: relative;
}
/* line 524, ../../sass/partials/_tables.scss */
.ui-jqdialog .ui-icon-closethick:before {
  content: '\f057';
}
/* line 530, ../../sass/partials/_tables.scss */
.ui-jqdialog .fm-button {
  font-family: "latolight";
  color: #fff;
  font-size: 14px;
  line-height: 1.2;
  padding: 0.6em 0.7em 0.5em 2.1em;
  background-color: #A4A4A4;
}
/* line 538, ../../sass/partials/_tables.scss */
.ui-jqdialog .fm-button:hover {
  background-color: #979797;
}
/* line 542, ../../sass/partials/_tables.scss */
.ui-jqdialog .fm-button.fm-button-icon-left .ui-icon {
  left: 0.8em;
  margin-top: -9px;
}
/* line 547, ../../sass/partials/_tables.scss */
.ui-jqdialog .fm-button .ui-icon-disk:before {
  content: '\f0c7';
}
/* line 551, ../../sass/partials/_tables.scss */
.ui-jqdialog .fm-button .ui-icon-close:before,
.ui-jqdialog .fm-button .ui-icon-cancel:before {
  content: '\f00d';
}
/* line 556, ../../sass/partials/_tables.scss */
.ui-jqdialog .fm-button .ui-icon-triangle-1-w:before {
  content: '\f104';
}
/* line 560, ../../sass/partials/_tables.scss */
.ui-jqdialog .fm-button .ui-icon-triangle-1-e:before {
  content: '\f105';
}
/* line 564, ../../sass/partials/_tables.scss */
.ui-jqdialog .fm-button .ui-icon-scissors:before {
  content: '\f014';
}
/* line 568, ../../sass/partials/_tables.scss */
.ui-jqdialog .fm-button .ui-icon-arrowreturnthick-1-w:before {
  content: '\f021';
}
/* line 572, ../../sass/partials/_tables.scss */
.ui-jqdialog .fm-button .ui-icon-search {
  left: 0.8em;
  right: auto;
}
/* line 576, ../../sass/partials/_tables.scss */
.ui-jqdialog .fm-button .ui-icon-search:before {
  content: '\f002';
}
/* line 581, ../../sass/partials/_tables.scss */
.ui-jqdialog .fm-button .ui-icon-comment:before {
  content: '\f0e5';
}
/* line 587, ../../sass/partials/_tables.scss */
.ui-jqdialog .navButton .fm-button {
  background-color: transparent;
}
/* line 591, ../../sass/partials/_tables.scss */
.ui-jqdialog #sData,
.ui-jqdialog #fbox_jqgrid_search {
  background-color: #296EAA;
}
/* line 595, ../../sass/partials/_tables.scss */
.ui-jqdialog #sData:hover,
.ui-jqdialog #fbox_jqgrid_search:hover {
  background-color: #246195;
}
/* line 600, ../../sass/partials/_tables.scss */
.ui-jqdialog #dData {
  background-color: #DB3833;
}
/* line 603, ../../sass/partials/_tables.scss */
.ui-jqdialog #dData:hover {
  background-color: #d02a25;
}
/* line 608, ../../sass/partials/_tables.scss */
.ui-jqdialog #cData,
.ui-jqdialog #eData,
.ui-jqdialog #fbox_jqgrid_reset {
  background-color: #626262;
}
/* line 613, ../../sass/partials/_tables.scss */
.ui-jqdialog #cData:hover,
.ui-jqdialog #eData:hover,
.ui-jqdialog #fbox_jqgrid_reset:hover {
  background-color: #555555;
}
/* line 618, ../../sass/partials/_tables.scss */
.ui-jqdialog #pData,
.ui-jqdialog #nData {
  color: #bbb;
}
/* line 622, ../../sass/partials/_tables.scss */
.ui-jqdialog #pData .ui-icon,
.ui-jqdialog #nData .ui-icon {
  font-size: 18px;
}
/* line 626, ../../sass/partials/_tables.scss */
.ui-jqdialog #pData:hover,
.ui-jqdialog #nData:hover {
  color: #7c7c7c;
}
/* line 632, ../../sass/partials/_tables.scss */
.ui-jqdialog .searchFilter input[type="button"] {
  background-image: none;
  border: none;
  margin-left: 5px;
  color: #fff;
  padding: 2px 7px;
}
/* line 640, ../../sass/partials/_tables.scss */
.ui-jqdialog .searchFilter .add-group {
  background-color: #E7A13D;
}
/* line 643, ../../sass/partials/_tables.scss */
.ui-jqdialog .searchFilter .add-group:hover {
  background-color: #e49626;
}
/* line 648, ../../sass/partials/_tables.scss */
.ui-jqdialog .searchFilter .add-rule {
  background-color: #296EAA;
}
/* line 651, ../../sass/partials/_tables.scss */
.ui-jqdialog .searchFilter .add-rule:hover {
  background-color: #246195;
}
/* line 656, ../../sass/partials/_tables.scss */
.ui-jqdialog .searchFilter .delete-rule {
  background-color: #DB3833;
}
/* line 659, ../../sass/partials/_tables.scss */
.ui-jqdialog .searchFilter .delete-rule:hover {
  background-color: #d02a25;
}
